# Pandas Data Frame

# Data Frame Rows & Columns Representation

In [3]:
import pandas as pd 
data = [["Alex",10],["Bob",12],["sagar",14]]
df = pd.DataFrame(data,columns=["Name","Age"])
print(df)

    Name  Age
0   Alex   10
1    Bob   12
2  sagar   14

In [4]:
import pandas as pd 
data = [['Alex',10],["Bob",12],["sagar",14]]
df = pd.DataFrame(data,dtype=float)
print(df)

       0     1
0   Alex  10.0
1    Bob  12.0
2  sagar  14.0

In [5]:
import pandas as pd 
data = {'Name':['Tom','Shrinit','Sagar','Sachin'],'Age':[12,14,16,18]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0      Tom   12
1  Shrinit   14
2    Sagar   16
3   Sachin   18

In [6]:
import pandas as pd 
data = {'Name':['Tom','Shrinit','Sagar','Sachin'],'Age':[12,14,16,18]}
df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4',])
print(df)

          Name  Age
rank1      Tom   12
rank2  Shrinit   14
rank3    Sagar   16
rank4   Sachin   18

In [8]:
import pandas as pd 
data = [{1:'a', 2:'b',3:'c',4:'d'},{'a':1,'b':2,'c':3,'d':1}]
df = pd.DataFrame(data)
print(df)

     1    2    3    4    a    b    c    d
0    a    b    c    d  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  1.0  2.0  3.0  1.0

In [9]:
import pandas as pd 
data = [{1:'a', 2:'b',3:'c',4:'d'},{'a':1,'b':2,'c':3,'d':1}]
df = pd.DataFrame(data,index = ['rank1','rank2'])
print(df)

         1    2    3    4    a    b    c    d
rank1    a    b    c    d  NaN  NaN  NaN  NaN
rank2  NaN  NaN  NaN  NaN  1.0  2.0  3.0  1.0

In [22]:
import pandas as pd 
data = [{1:'a', 2:'b',3:'c',4:'d'},{'a':1,'b':2,'c':3,'d':1}]
df1 = pd.DataFrame(data,index = ['rank1','rank2'],columns=['a','d'])
df2 = pd.DataFrame(data,index = ['rank3','rank4'],columns=[2,3])
print(df1)
print('\n')
print(df2)

         a    d
rank1  NaN  NaN
rank2  1.0  1.0


         2    3
rank3    b    c
rank4  NaN  NaN

In [17]:
import pandas as pd
d = {'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4], index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [20]:
import pandas as pd
d = {'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4], index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df)
print('\n')
print(df['one'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4


a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

# Addition of two columns

In [23]:
import pandas as pd
d = {'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4], index=['a','b','c','d'])}
df = pd.DataFrame(d)
print("Adding a new column by passing as a series: ")
df['three'] = pd.Series([10,20,30],index=['a','b','c'])
print(df)
print('\n')
print("Adding a new column using the existing columns in dataframe: ")
df['four'] = df['one'] + df['three']
print(df)

Adding a new column by passing as a series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN


Adding a new column using the existing columns in dataframe:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

# DEL & POP Function in Pandas

In [27]:
import pandas as pd
d = {'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],index=['a','b','c','d']),
     'three': pd.Series([10,20,30],index=['a','b','c'])}
df = pd.DataFrame(d)
print("Our Dataframe is: ")
print(df)
print('\n')
print("Deleting the first column using DEL function: ")
df['three'] = pd.Series([10,20,30],index=['a','b','c'])
del df['one']
print(df)
print('\n')
print("Deleting the another column using POP function: ")
df.pop('two')
print(df)

Our Dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN


Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN


Deleting the another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

# iloc Function

In [28]:
import pandas as pd
d = {'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4], index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df.loc['b'])
#rows can be selected by passing interger location to an iloc function

one    2.0
two    2.0
Name: b, dtype: float64

# Multiple Rows

In [30]:
import pandas as pd
d = {'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4], index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df[2:4])
#Multiple rows can be selected using ':' operator

   one  two
c  3.0    3
d  NaN    4

# Drop & Append Command in pandas

In [37]:
import pandas as pd 
df = pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2 = pd.DataFrame([[5,6],[7,8]],columns=['a','b'])
df = df.append(df2)
print(df)
print("\n")
print("Drop rows with label 0")
#Drop rows with label 0
df = df.drop(0)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8


Drop rows with label 0
   a  b
1  3  4
1  7  8